<center>
	<div class="text">El producto fue borrado exitosamente!!!</div>
	<a href="{% url 'search_view' %}" class="boton">Volver</a>
</center>

<style type="text/css">

	.text{
		position: absolute;
		font-size: 70px;
		bottom:500px;
		left:15%;
	}
	.boton{
        position: absolute;
        bottom:100px;
        left:40%;
        font: bold 100px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
</style>