<center>
<h1>La carga se realizo correctamente</h1>
	<div class = 'names'>
		<div> No se cargaron los siguientes precios por estar repetidos</div>
		{% for name in name_list %}
			<li>{{name}}</li>
		{% endfor %}
	</div>
<a href="{% url 'search_view' %}" class="back_button">Volver al menu</a>
<a href="{% url 'load_base_view' %}" class="reload_button">Cargar mas precios</a>
</center>
<style type="text/css">
	.back_button{
				position: relative;
				top:500px;
				left:0%;
				font: bold 50px Arial;
				text-decoration: none;
				background-color: #EEEEEE;
				color: #333333;
				padding: 2px 6px 2px 6px;
				border-top: 1px solid #CCCCCC;
				border-right: 1px solid #333333;
				border-bottom: 1px solid #333333;
				border-left: 1px solid #CCCCCC;
			}

	.reload_button{
				position: relative;
				top:500px;
				left:10%;
				font: bold 50px Arial;
				text-decoration: none;
				background-color: #EEEEEE;
				color: #333333;
				padding: 2px 6px 2px 6px;
				border-top: 1px solid #CCCCCC;
				border-right: 1px solid #333333;
				border-bottom: 1px solid #333333;
				border-left: 1px solid #CCCCCC
			}
	.names{
			position: relative;
			top:300px;
			font-size: 25px;
		}

	h1{
  		position: absolute;
  		left: 650px;
  		top: 150px;
	}
</style>